.cartPage{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    background-color: #2e4d65;
    border: 1px solid white;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.product img{
    max-width: 270px;
    height: 200px;
    object-fit: contain;
}

.title{
    font-weight: bold;
    margin: 20px 0 0 0;
}

.price{
    color: gold;
}

.more{
    margin: 7px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}